@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <div class="alert alert-success" role="alert">

        Thank you for Confirming your Email Your Rahman Group of Education College Account Is SuccessFully Activated.If You want to Login To Your RGE College Account.Then Please @Html.ActionLink("Click here to Log in to your Account.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })

    </div>
</div>
