@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email that you have provided while creating your rahman group of education college account  to reset your password.
    </p>
</div>
	
