@model RGECMS.Models.ApplicationRole

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container">
    <div class="form-horizontal">
        <h4>ApplicationRole</h4>
        <hr />


        <div class="row">
            <div class="form-group col-sm-4">
                <div class="control-label col-sm-4">
                    @Html.DisplayNameFor(model => model.Name)
                </div>

                <div class="col-md-10">
                    <div class="form-control">
                        @Html.DisplayFor(model => model.Name)

                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm ">
                <div class="col-md-offset-2 col-md-10 ">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })

                </div>
            </div>

        </div>

    </div>
        </div>
                    <p>
                     
                        @Html.ActionLink("Back to List", "Index")
                    </p>
