@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Opps Error.</h1>
<h2 class="text-danger">An error occurred while processing your request please use unique email Address ,Username and Registration No.</h2>

