@model RGECMS.Models.employeeDesignationCategory

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="container">
    <div class="form-horizontal">
        <h4>employeeDesignationCategory</h4>
        <hr />
        <div class="form-group col-sm-4">
            <div class="control-label col-sm">
                <div class=" font-weight-bold">
                    @Html.DisplayNameFor(model => model.DesignationName)
                </div>
            </div>

            <div class="col-md-10">
                <div class="form-control">
                    @Html.DisplayFor(model => model.DesignationName)
                </div>

            </div>
        </div>
    </div>
</div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="form-horizontal">
            <div class="form-group col-sm-4">
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" />
                </div>
            </div>

        </div>
    </div>
    <div class="form-group">
        <a class="btn btn-danger mt-10" href="@Url.Action("Index", "employeeDesignationCategories")">Back to List</a>
    </div>
}
 

